{{ define "main" }}
    {{ $pages := .Pages }}
    {{ if .IsHome }}
      {{ with site.GetPage "galleries" }}
        {{ $pages = .Pages }}
        {{ with first 1 $pages }} {{ range . }}
          {{/*  <div class="subHeader"><h2>{{ .Title }}</h2> <a href="{{ .Prev.RelPermalink }}">></a></div>  */}}
          {{ $images := (.Resources.ByType "image") }}
          <div class="image-container">
            {{ with $images }} {{ range . }}
              {{ $thumbs := partial "gallerydeluxe/create-thumbs.html" . }}
              {{ $full := $thumbs.full }}
              {{ with $full }} 
                {{ $mostDominant := index .Colors 0 }}
                {{/*  {{ $filter := images.Padding 50 $mostDominant }}
                {{ with .Filter $filter }}
                  <img class="singlePictureGallery" src="{{ .RelPermalink }}" alt="{{ .Title }}"> 
                {{ end }}  */}}
                  <img class="singlePictureGallery" src="{{ .RelPermalink }}" alt="{{ .Title }}"> 
              {{ end }}
            {{ end }} {{ end }}
          </div>
          <div class="markdown-body">
           {{ .Content }} 
          </div>
          <div class="call-out">
            <h2 class="categoryHeader">Join the movement!</h2>
            <p> Buy a magnet or sticker pack today and send your pictures to <a href="mailto:hello@arts-link.com">hello@arts-link.com</a> to be added this website and tell us about your experience!  </p>
            <a href="https://www.stickermule.com/0bd93275367a2f0/item/16399698" class="buy-button" target="_blank" rel="noopener noreferrer">
              BUY ⚡ YOUR ⚡ MAGNET 
            </a>
          </div>
          <div class="sited">
            <h2 class="categoryHeader">Sightings in the Wild</h2>
            {{ with site.GetPage "galleries/sightings" }}
            {{ $images := (.Resources.ByType "image") }}
            {{ partial "galleriesdeluxe/list-gallery.html" . }}
            {{ end }}
          </div>
        {{ end }} {{ end }}
      {{ end }}
    {{ else }}
    <div class="galleries">
      {{ range $pages }} {{ partial "galleriesdeluxe/card.html" . }} {{ end }}
    </div>
    {{ end }}
{{ end }}

{{ define "head-custom" }}
  {{ partial "gallerydeluxe/head.html" . }}
{{ end }}