{{ define "main" }}
<div class="main-container">

  {{ $images := (.Resources.ByType "image") }}
  {{ if gt (len $images) 1 }}
    {{ partial "galleriesdeluxe/list-gallery.html" . }}
  {{ else }}
    <div class="image-container">
      {{ with $images }} {{ range . }}
        {{ $thumbs := partial "gallerydeluxe/create-thumbs.html" . }}
        {{ $full := $thumbs.full }}
        {{ with $full }} 
          <img class="singlePictureGallery" width="512px" style="width:512px;" src="{{ .RelPermalink }}" alt="{{ .Title }}"> 
        {{ end }}
      {{ end }} {{ end }}
    </div>
  {{ end }}
  <div class="markdown-body">
    {{ .Content }}
  </div>
  </div>
{{ end }}

{{ define "head-custom" }}
  {{ partial "gallerydeluxe/head.html" . }}
{{ end }}
