<!-- Setup for SEO -->
{{- with or (.Description | plainify | htmlUnescape | chomp) (.Summary | plainify | htmlUnescape | chomp) (site.Params.description | plainify | htmlUnescape | chomp) }}
  <meta name="description" content="{{ . }}" />
{{- end }}
{{- partial "common-partials/opengraph/opengraph.html" . -}}
{{- template "_internal/schema.html" . -}}
{{- partial "common-partials/opengraph/twitter_cards.html" . -}}
<script defer data-domain="rhyslightning.com" src="https://plausible.io/js/script.hash.outbound-links.js"></script>
<script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
